*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    background: rgba(0,0,0,0.95);
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto','Arial', sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background: black;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 -1px -1px white;
	border-radius: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}


.header {
    height: 56px;
    text-align: center;
		padding: 0 3%;
}

.menu {
	width: 40px;
	padding: 8px;
}

.container {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

.logo {
	padding: 1.3% 1%;
}

.logo > span {
	font-size: 12px;
	color: #aaa;
	position: absolute;
	top: 25%;
	margin: 0 3%;
}

.search-bar {
	height: 40px;
	width: 40%;
	margin-left: 20%;
}

.search-bar-wrap {
	top: 25%;
	transform: translateY(-25%);
}

.search-bar-wrap div:nth-child(2) {
	background: rgba(255, 255, 255, .09);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
}

.search-bar-wrap div:nth-child(2):hover {
	background: rgba(255, 255, 255, 0.3);
}


.search-bar-wrap div:nth-child(2) > s {
	line-height: 40px;
}
.search-bar > input {
	border-top: 1px solid rgba(255, 255, 255, .14);
	border-left: 1px solid rgba(255, 255, 255, .14);
	border-bottom: 1px solid rgba(255, 255, 255, .14);
	border-right: none;
	background-color: black;
	border-radius: 40px 0 0 40px;
	color: white;
	font-size: 12px;
	width: calc(100% - 64px);
	height: 40px;
	padding: 0 0 0 2%;
	
}

.search-bar > button {
	background-color: rgba(255, 255, 255, .14);
	border-radius: 0% 40px 40px 0%;
	border: 1px solid rgba(255, 255, 255, .14);
	height: 40px;
	width: 64px;
}


.top-info > s{
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 20px;
}

.top-info > s > i {
	line-height: 40px;
}
.top-info > s:hover{
	background: rgba(255,255,255,0.2);
}

.voice, .search-bar>button, .top-info s{
	cursor: pointer;
}

/* ------------ right區塊 --------------  */

.right-list {
	height: calc(100vh - 56px);
	display: inline-block;
	width: 80%;
}


.right-list-content > hr {
	display: block;
	clear: both;
	height: 4px;
	border: none;
	background: rgba(255, 255, 255, .3);
	
}

/* shorts card  */
.shorts-card {
	width: calc(100% / 9);
	height: 430px;
	float: left;
	margin-right: 20px;
	/* background: pink; */
	
}

.shorts-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.shorts-body > .card-title,.card-time {
	line-height: 1.5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 


.shorts-head img {
	width: 100%;
	border-radius: 15px;
}


.right-list-top {
	height: 56px;
	overflow: hidden;
}

.right-list-top > label:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	transition: background-color .3s ease-in-out;
}

.right-list-top > label {
	display: inline-block;
	padding: 8px 12px;
	background: rgba(255, 255, 255, .14);
	border-radius: 10px;
	font-size: 14px;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0 3px;
}


.right-list-top > input[type="radio"]:checked+label {
	background: #fff;
	color: #000;
}

.right-list-top > input {
	display: none;
}

.card {
	width: 360px;
	height: 320px;
	/* background-color: pink; */
	margin: 5px 5px;
	position: relative;
	float: left;
}

.card:hover iframe {
	border-radius: 0;
	transition: 0.3s ease-in-out;
}
.card-head {
	height: 60%;
}

.card-head iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	
	border-radius: 20px;
}

.card-logo img{
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.card-body {
	height: 40%;
}
.card-logo {
	width: 10%;
	display: inline-block;
	vertical-align: top;
	margin: 12px 12px 0 0;
}
.card-content {
width: 80%;
display: inline-block;
vertical-align: middle;
line-height: 1.5;
margin-top: 12px;
}

.card-content > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.card-name,.card-time {
	font-size: 14px;
	color: #aaa;
}

.shorts-title > h2 {
	font-size: 20px;
	display: inline-block;
}

.shorts-title > img {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}



/* -------------left區塊--------------  */

.left-list {
	width: 15%;
	height: calc(100vh - 56px);
	display: inline-block;
	padding: 5px 5px;
	/* overflow: hidden; */
	overflow:scroll;
}



.left-list::-webkit-scrollbar {
	width: 8px;
	display: none;
}
.left-list:hover::-webkit-scrollbar {
	display: block;
}


.left-list::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 -1px -1px white;
	border-radius: 5px;
	display:none;
}
.left-list:hover::-webkit-scrollbar-thumb {
	display: block;
}

.left-list-top  label:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, .14);
	color: white;
	transition: background-color .3s ease-in-out;

}

.left-list-top img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.left-list-top  label {
	display: block;
	padding: 8px 12px;
	border-radius: 10px;
	font-size: 14px;
	position: relative;
	top:50%;
	margin: 0 3px;
	line-height: 1.5;
}

.left-list-top  label  i {
	margin-right: 10px;
}

.left-list-top  input[type="radio"]:checked+label {
	background: rgba(255, 255, 255, .14);
	color: white;
}

.left-list-top  input {
	display: none;
}

.left-list-top > hr {
	margin-top: 0;
	margin-bottom: 10px;
	background: rgba(255, 255, 255, .3);
	display: block;
	height: 1px;
	border: none;
}

h2 {
	font-size: 16px;
	line-height: 1.5;
	margin-left: 10px;
}

.section7 ul {
	padding: 12px 24px 0;
}
.section7 li{
	display: inline-block;
	margin-right: 2px;
}

.section7 li a {
	font-size: 13px;
	color: rgba(255, 255, 255, .7);
}

.small {
	font-size: 12px;
	color: rgba(255, 255, 255, .3);
	padding: 16px 24px;
}


